*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

body{
    background-color: #0F417A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;

}

.container{
    display: flex;
gap: 20px;
background-color: #fff;
width: 100%;
max-width: 920px;
padding: 23px;
border-radius: 10px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

}

.container img{
    width: 50%;
    border-radius: 20px;
    object-fit: cover;
}